import '../../node_modules/nib'

// 变量名标识符统一用下划线命名法并增加$前缀提高可读性，函数名不用$前缀
// 色彩相关变量
$primary-color = #2d8cf0
$light-primary-color = #5cadff
$dark-primary-color = #2b85e4

$info-color = #2d8cf0
$success-color = #19be6b
$warning-color = #ff9900
$error-color = #ed3f14

$title-color = #1c2438
$content-color = #495060
$subcolor-color = #80848f
$disabled-color = #bbbec4
$border-color = #dddee1
$divider-color = #e9eaec
/* $background-color = #f8f8f9 */
$background-color = red

// 形状相关
$border-radius = 5px
$font-family = 'avenir', helvetica, arial, sans-serif
$font-size = 18px

// 公共函数
// 利用插值Interpolation作函数
vendor(prop, args)
  -webkit-{prop}: args
  -moz-{prop}: args
  {prop}: args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

